<section>
  <h1>About Me</h1>
  <p>The views expressed on this blog are mine and do not necessarily reflect the views of my employers.</p>
  <nav>
  <div><a href="http://matematica.unipv.it/gualandi/">My Academic Home Page</a></div>
  <div><a href="http://matematica.unipv.it/gualandi/research/">My Publications</a></div>
  </nav>
  </p>
  <p>
  I do not accept any advertisement. 
  However, you can offer me <a href="http://paypal.me/stegua/2.10">coffee and brioche</a> or a <a href="http://paypal.me/stegua/7.00">pizza capricciosa</a> through paypal.
  Please consider getting in touch if you are a supporter so that I can thank you.
  </p>
</section>
